/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F0CA;
}

header {
    background-color: #E1AA74;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #E1AA74;
    color: beige;
    text-align: center;
    padding: 10px;
}

a{
    color: beige;
}
